<html xmlns:fo="http://www.w3.org/1999/XSL/Format"><HEAD><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></HEAD></html><body xmlns:fo="http://www.w3.org/1999/XSL/Format">
<p><a name="0"><span title="в PR
в S, abbr, nom, gen, dat, acc, ins, abl, sg, pl">В</span> 
							 
						<span title="пятница S, acc, sg, f, inan">пятницу</span> 
							 
						<span title="вечер S, ins, sg, m, inan
вечером ADV">вечером</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="сирийский A, abl, sg, plen, m, n">сирийском</span> 
							 
						<span title="город S, abl, sg, m, inan">городе</span> 
							 
						<span title="алеппо ">Алеппо</span> 
							 
						<span title="( ">(</span> 
							 
						<span title="aleppo ">Aleppo</span> 
							 
						<span title=") ">)</span> 
							 
						<span title="быть V, praet, sg, indic, m, ipf, intr">был</span> 
							 
						<span title="убить V, praet, sg, partcp, brev, m, pf, pass, tran
убитый A, sg, brev, m">убит</span> 
							 
						<span title="известный A, nom, acc, sg, plen, m, inan">известный</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="страна S, dat, abl, sg, f, inan">стране</span> 
							 
						<span title="духовный A, nom, acc, sg, plen, m, inan">духовный</span> 
							 
						<span title="лидер S, nom, sg, m, anim">лидер</span> 
							 
						<span title="махмуд S, persn, nom, sg, m, anim">Махмуд</span> 
							 
						<span title="гул S, nom, acc, sg, m, inan">Гул</span> 
							 
						<span title="агасси S, famn, nom, gen, dat, acc, ins, abl, sg, pl, f, m, mf, anim">Агасси</span> 
							 
						<span title="( ">(</span> 
							 
						<span title="mahmud ">Mahmud</span> 
							 
						<span title="gul ">Gul</span> 
							 
						<span title="aghassi ">Aghassi</span> 
							 
						<span title=") ">)</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="также ADV
также PART
также CONJ">также</span> 
							 
						<span title="известный A, nom, acc, sg, plen, m, inan">известный</span> 
							 
						<span title="как PART
как ADVPRO
как CONJ">как</span> 
							 
						<span title="аба S, acc, sg, f, inan
аба S, persn, acc, sg, m, anim
абу S, persn, nom, gen, dat, acc, ins, abl, sg, pl, m, anim">Абу</span> 
							 
						<span title="аль-када ">Аль-Када</span> 
							 
						<span title="( ">(</span> 
							 
						<span title="abu ">Abu</span> 
							 
						<span title="al-qaaqaa ">Al-Qaaqaa</span> 
							 
						<span title=") ">)</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="сообщать V, praes, inpraes, sg, indic, 3p, ipf, tran">сообщает</span> 
							 
						<span title="afp ">AFP</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="1"><span title="42-летний A, nom, acc, sg, plen, m, inan">42-летний</span> 
							 
						<span title="има S, persn, dat, pl, f, anim
имам S, nom, sg, m, anim">имам</span> 
							 
						<span title="быть V, praet, sg, indic, m, ipf, intr">был</span> 
							 
						<span title="убить V, praet, sg, partcp, brev, m, pf, pass, tran
убитый A, sg, brev, m">убит</span> 
							 
						<span title="на PART
на PR">на</span> 
							 
						<span title="выход S, abl, sg, m, inan">выходе</span> 
							 
						<span title="из PR">из</span> 
							 
						<span title="мечеть S, nom, gen, dat, acc, abl, sg, pl, f, inan">мечети</span> 
							 
						<span title="после ADV
после PR">после</span> 
							 
						<span title="вечерня S, ins, sg, f, inan
вечерний A, gen, dat, ins, abl, sg, plen, f">вечерней</span> 
							 
						<span title="молитва S, nom, gen, acc, sg, pl, f, inan">молитвы</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="2"><span title="неизвестный A, nom, acc, sg, plen, m, inan">Неизвестный</span> 
							 
						<span title="злоумышленник S, nom, sg, m, anim">злоумышленник</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="выскочить V, praet, nom, acc, sg, partcp, plen, m, pf, act, inan, intr">выскочивший</span> 
							 
						<span title="из PR">из</span> 
							 
						<span title="припарковать V, praet, gen, dat, ins, abl, sg, partcp, plen, f, pf, pass">припаркованной</span> 
							 
						<span title="ряд S, ins, sg, m, inan
рядом ADV">рядом</span> 
							 
						<span title="с PR">с</span> 
							 
						<span title="мечеть S, ins, sg, f, inan">мечетью</span> 
							 
						<span title="машин S, famn, nom, pl, m, anim
машина S, famn, nom, pl, f, anim
машина S, nom, gen, acc, sg, pl, f, inan">машины</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="несколько NUM, nom, acc, inan
несколько ADV">несколько</span> 
							 
						<span title="раз ADV
раз CONJ
раз S, nom, gen, acc, sg, pl, m, inan">раз</span> 
							 
						<span title="выстрелить V, praet, sg, indic, m, pf, tran
выстрелить V, praet, sg, indic, m, pf, tran
выстрелить V, praet, sg, indic, m, pf, intr">выстрелил</span> 
							 
						<span title="он SPRO, dat, sg, 3p, m
оно SPRO, dat, sg, 3p, n">ему</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="голова S, acc, sg, f, inan
голова S, acc, sg, f, m, mf, anim">голову</span> 
							 
						<span title="и INTJ
и PART
и CONJ">и</span> 
							 
						<span title="живот S, nom, acc, sg, m, inan
живот S, nom, sg, m, anim">живот</span> 
							 
						<span title="из PR">из</span> 
							 
						<span title="автомат S, gen, sg, m, inan">автомата</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="3"><span title="махмуд S, persn, nom, sg, m, anim">Махмуд</span> 
							 
						<span title="гул S, nom, acc, sg, m, inan">Гул</span> 
							 
						<span title="агасси S, famn, nom, gen, dat, acc, ins, abl, sg, pl, f, m, mf, anim">Агасси</span> 
							 
						<span title="быть V, praet, sg, indic, m, ipf, intr">был</span> 
							 
						<span title="оперативно ADV
оперативный A, sg, brev, n">оперативно</span> 
							 
						<span title="доставить V, praet, sg, partcp, brev, m, pf, pass, tran">доставлен</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="ближний A, nom, acc, sg, plen, supr, m, inan
близкий A, nom, acc, sg, plen, supr, m, inan">ближайший</span> 
							 
						<span title="госпиталь S, nom, acc, sg, m, inan">госпиталь</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="однако INTJ
однако ADV, parenth
однако CONJ">однако</span> 
							 
						<span title="врач S, nom, pl, m, anim">врачи</span> 
							 
						<span title="не PART">не</span> 
							 
						<span title="смочь V, praet, pl, indic, pf, intr">смогли</span> 
							 
						<span title="спасти V, inf, pf">спасти</span> 
							 
						<span title="он SPRO, dat, sg, 3p, m
оно SPRO, dat, sg, 3p, n">ему</span> 
							 
						<span title="жизнь S, nom, acc, sg, f, inan">жизнь</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="4"><span title="в PR
в S, abbr, nom, gen, dat, acc, ins, abl, sg, pl">В</span> 
							 
						<span title="результат S, abl, sg, m, inan">результате</span> 
							 
						<span title="стрельба S, nom, gen, acc, sg, pl, f, inan">стрельбы</span> 
							 
						<span title="еще ADV
еще PART">еще</span> 
							 
						<span title="тереть V, sg, imper, 2p, ipf, tran
три NUM, nom, acc, inan">три</span> 
							 
						<span title="человек S, gen, acc, sg, m, anim">человека</span> 
							 
						<span title="получить V, praet, pl, indic, pf, tran">получили</span> 
							 
						<span title="ранение S, nom, gen, acc, sg, pl, n, inan">ранения</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="5"><span title="сопровождать V, praet, nom, acc, pl, partcp, plen, ipf, act, inan, tran">Сопровождавшие</span> 
							 
						<span title="имам S, gen, acc, sg, m, anim">имама</span> 
							 
						<span title="человек S, nom, pl, m, anim">люди</span> 
							 
						<span title="успеть V, praet, pl, indic, pf, intr">успели</span> 
							 
						<span title="схватить V, inf, pf, tran">схватить</span> 
							 
						<span title="злоумышленник S, gen, acc, sg, m, anim">злоумышленника</span> 
							 
						<span title="и INTJ
и PART
и CONJ">и</span> 
							 
						<span title="передать V, praet, pl, indic, pf, tran">передали</span> 
							 
						<span title="он SPRO, gen, acc, sg, 3p, m
оно SPRO, gen, acc, sg, 3p, n
его APRO, nom, gen, dat, acc, ins, sg, pl, f, m, n, anim, inan">его</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="полиция S, acc, sg, f, inan">полицию</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="6"><span title="махмуд S, persn, nom, sg, m, anim">Махмуд</span> 
							 
						<span title="гул S, nom, acc, sg, m, inan">Гул</span> 
							 
						<span title="агасси S, famn, nom, gen, dat, acc, ins, abl, sg, pl, f, m, mf, anim">Агасси</span> 
							 
						<span title="быть V, praet, sg, indic, m, ipf, intr">был</span> 
							 
						<span title="известный A, sg, brev, m">известен</span> 
							 
						<span title="свой APRO, ins, pl
свой SPRO, ins, pl, m, anim">своими</span> 
							 
						<span title="призыв S, ins, pl, m, inan">призывами</span> 
							 
						<span title="к PR">к</span> 
							 
						<span title="джихад S, dat, sg, m, inan">джихаду</span> 
							 
						<span title="( ">(</span> 
							 
						<span title="священный A, gen, dat, ins, abl, sg, plen, f">священной</span> 
							 
						<span title="война S, dat, abl, sg, f, inan">войне</span> 
							 
						<span title=") ">)</span> 
							 
						<span title="против ADV, praed
против PR">против</span> 
							 
						<span title="сша S, abbr, geo, nom, gen, dat, acc, ins, abl, pl, inan">США</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p><a name="7"><span title="американский A, nom, acc, pl, plen, inan">Американские</span> 
							 
						<span title="власть S, nom, gen, dat, acc, abl, sg, pl, f, inan">власти</span> 
							 
						<span title="подозревать V, praet, pl, indic, ipf, tran">подозревали</span> 
							 
						<span title="имам S, gen, acc, sg, m, anim">имама</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="организация S, nom, gen, dat, acc, abl, sg, pl, f, inan">организации</span> 
							 
						<span title="группировка S, nom, gen, acc, sg, pl, f, inan">группировки</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="поставлять V, praet, gen, dat, ins, abl, sg, partcp, plen, f, ipf, act, tran">поставлявшей</span> 
							 
						<span title="в PR">в</span> 
							 
						<span title="соседний A, nom, acc, sg, plen, m, inan">соседний</span> 
							 
						<span title="ирак S, geo, nom, acc, sg, m, inan">Ирак</span> 
							 
						<span title="боевик S, gen, acc, pl, m, anim
боевик S, gen, pl, m, inan">боевиков</span> 
							 
						<span title="для PR">для</span> 
							 
						<span title="борьба S, gen, sg, f, inan">борьбы</span> 
							 
						<span title="с PR">с</span> 
							 
						<span title="войска S, ins, pl, inan
войско S, ins, pl, n, inan">войсками</span> 
							 
						<span title="коалиция S, nom, gen, dat, acc, abl, sg, pl, f, inan">коалиции</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<table border="1"><tbody>
<tr align="center">
<th>Text</th>
<th>Type</th>
</tr>
<tr align="center">
<td><a href="#0">сирийский город</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">духовный лидер</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">42-летний имам</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">вечерняя молитва</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#2">неизвестный злоумышленник</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#3">ближайший госпиталь</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#6">свой призыв</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#6">священная война</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#7">американский власть</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#7">соседний Ирак</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
</tbody></table>
</body>
